<!--                    <ICMSSN101>
                        <orig>0</orig>
                        <CSOSN>101</CSOSN>
                        <pCredSN>0</pCredSN>
                        <vCredICMSSN>0</vCredICMSSN>
                    </ICMSSN101>-->