<!--                    <ICMSSN500>
                        <orig>0</orig>
                        <CSOSN>500</CSOSN>
                        <vBCSTRet>0</vBCSTRet>
                        <vICMSSTRet>0</vICMSSTRet>
                    </ICMSSN500>-->