<!--                    <ICMSSN900>
                        <orig>0</orig>
                        <CSOSN>900</CSOSN>
                        <modBC>0</modBC>
                        <vBC>0</vBC>
                        <pRedBC>0.01</pRedBC>
                        <pICMS>0</pICMS>
                        <vICMS>0</vICMS>
                        <modBCST>0</modBCST>
                        <pMVAST>0.01</pMVAST>
                        <pRedBCST>0.01</pRedBCST>
                        <vBCST>0</vBCST>
                        <pICMSST>0</pICMSST>
                        <vICMSST>0</vICMSST>
                        <pCredSN>0</pCredSN>
                        <vCredICMSSN>0</vCredICMSSN>
                    </ICMSSN900>-->