<!--                    <ICMSSN202>
                        <orig>0</orig>
                        <CSOSN>202</CSOSN>
                        <modBCST>0</modBCST>
                        <pMVAST>0.01</pMVAST>
                        <pRedBCST>0.01</pRedBCST>
                        <vBCST>0</vBCST>
                        <pICMSST>0</pICMSST>
                        <vICMSST>0</vICMSST>
                    </ICMSSN202>-->