    <avulsa>
        <CNPJ>00000000000000</CNPJ>
        <xOrgao>xOrgao0</xOrgao>
        <matr>matr0</matr>
        <xAgente>xAgente0</xAgente>
        <fone>0</fone>
        <UF>AC</UF>
        <nDAR>nDAR0</nDAR>
        <dEmi>2000-02-29</dEmi>
        <vDAR>0</vDAR>
        <repEmi>repEmi0</repEmi>
        <dPag>2000-02-29</dPag>
    </avulsa>