<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="

http://www.springframework.org/schema/beans


http://www.springframework.org/schema/beans/spring-beans-4.3.xsd


http://www.springframework.org/schema/context


http://www.springframework.org/schema/context/spring-context-4.3.xsd


http://www.springframework.org/schema/tx


http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <context:component-scan base-package="br.com.nfx"/>
    <context:annotation-config/>
    <context:spring-configured/>
    <!-- Data Source Declaration -->
    <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="org.postgresql.Driver" />
        
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5433/nfx" />
        <property name="user" value="postgres" />
        <property name="password" value="leonardo" />
        
      <!--  <property name="jdbcUrl" value="jdbc:postgresql://gaminfo.com.br:5433/gaminfo_jlab" />
        <property name="user" value="gaminfo_postgres" />
        <property name="password" value="postgres" />  -->
        
        <property name="maxPoolSize" value="2" />
        <property name="maxStatements" value="0" />
        <property name="minPoolSize" value="1" />
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="SessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="DataSource" />
      
        <property name="annotatedClasses">
            <list>
                <value>br.com.nfx.model.Usuario</value>
                <value>br.com.nfx.model.Empresa</value>
                <value>br.com.nfx.model.Cliente</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
            </props>
        </property>
    </bean>
	
    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    
    
</beans>
